.mat-grid-list {
    background-color: rgb(230, 237, 247);
    justify-content: flex-start !important ;
    align-items: right !important;
}
.mat-grid-tile {
    padding: 5px;
    width: 30%;
    margin-bottom: 10px;
}

.mat-form-field {
    width: 60%;
}

