<h1>GAZE TRACKING COMPONENT</h1>
<div style="text-align:center">
      
        <div>
          <webcam [height]="700" [width]="1500"  [trigger]="triggerObservable" *ngIf="showWebcam"
                  [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                  [videoOptions]="videoOptions"
                  [imageQuality]="1"
                  (initError)="handleInitError($event)"
          ></webcam>
          <br/>
          <select name="pixels" id="#">
            <option selected="selected" value="one">4</option>
            <option value="two">8</option>
            <option value="three">12</option>
            <option value="three">16</option>
          </select>
          <button style="width: 40%;" class="actionBtn" (click)="resetcamera();">Calibrate</button>
          <br/>
          <br/>
        </div>
      </div>